<!DOCTYPE html>
<head>
  <title>whaaaaaaaaaaaaaaaaaaaaaaaaaaaa</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <input type="date" id="start" name="trip-start"
       value="2022-04-20"
       min="2022-04-20" max="2022-04-20">
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>whaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h3>
  <form action="/" method="post">

    <input id="tags" name="tags" placeholder="Tags"/>
    <button type="submit">Generate Report</button>
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
